.btn {
	height: 56px;
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	border-radius: 12px;
}
.acceptBlock {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.textRight {
	display: flex;
	flex-direction: column;
	:first-child {
		font-size: 18px;
		font-weight: 500;
		line-height: 21px;
	}
	:last-child {
		color: #5c7290;
		font-size: 14px;
		font-weight: 500;
		line-height: 21px;
	}
}
.left {
	display: flex;
	align-items: center;
	gap: 12px;
}
.calenderBtn {
	padding: 6px;
	height: fit-content;
	font-size: 16px;
	border-radius: 20px;
}
.flex {
	display: flex;
	gap: 8px;
	margin-bottom: 12px;
}
.block {
	display: flex;
	flex-direction: column;
	gap: 6px;
}
.weekBtn {
	width: 100%;
	margin-bottom: 12px;
}

.header {
	position: relative;
}
.back {
	position: absolute;
	top: 32%;
	left: 16px;
	cursor: pointer;
	font-size: 32px;
}
.listList {
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 12px;
	min-height: 100%;
}

.item {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	border-bottom: 1px solid gray;
	font-size: 20px;
	justify-content: space-between;
}

.item:last-of-type {
	border: none;
}
.close {
	cursor: pointer;
}
.input {
	position: fixed;
	bottom: 91px;
	left: 16px;
	width: calc(100% - 32px);
}
.itemFlex {
	display: flex;
	align-items: center;
	gap: 8px;
}
.icon {
	width: 24px;
	height: 24px;
}
