.btnCont {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 24px;
}
.h {
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	margin-bottom: 24px;
}
.btnFlex {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-size: 16px;
}
.cont {
	margin: 0 auto;
	width: 400px;
}
.switchFlex {
	flex-direction: column;
	display: flex;
	align-items: center;
	gap: 8px;
}
.header {
	position: relative;
}
.back {
	position: absolute;
	top: 15%;
	left: 0;
	cursor: pointer;
	font-size: 32px;
}
.listList {
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	border-radius: 12px;
	min-height: 100%;
}

.item {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px;
	border-bottom: 1px solid gray;
	font-size: 20px;
	justify-content: space-between;
}

.item:last-of-type {
	border: none;
}
.close {
	cursor: pointer;
}
.input {
	position: absolute;
	bottom: 0;
	left: 16px;
	width: calc(100% - 32px);
}
.itemFlex {
	display: flex;
	align-items: center;
	gap: 8px;
}
.icon {
	width: 24px;
	height: 24px;
}
