.label {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: center;
	padding: 0 24px;
	line-height: 18px;
	font-size: 12px;
	font-weight: 500;
	min-width: 108px;
	color: #4f7396;
	transition: 0.5s;
}
.img {
	width: 24px;
	height: 24px;
	mask-repeat: no-repeat;
	mask-position: center;
	background-color: #4f7396;
	transition: 0.5s;
}
.statImg {
	mask-image: url("../../shared/imgs/stat.svg");
}
.listImg {
	mask-image: url("../../shared/imgs/list.svg");
}
.reportsImg {
	mask-image: url("../../shared/imgs/reports.svg");
}
.active {
	color: #2592ff;
	.img {
		background-color: #2592ff;
	}
}
