.imgCont {
	width: 48px;
	height: 48px;
	background-color: #e8edf2;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	flex-shrink: 0;

	img {
		width: 24px;
		height: 24px;
	}
}
.statItem {
	display: flex;
	align-items: center;
	gap: 40px;
}
.right {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 170px;
	overflow: hidden;
	line-height: 24px;
	font-size: 16px;
	flex-shrink: 0;
}
.domain {
	white-space: nowrap; // Запрещаем перенос строк
	overflow: hidden; // Скрываем текст, выходящий за границы
	text-overflow: ellipsis; // Добавляем многоточие в конце
	flex-grow: 1; // Занимаем всё доступное пространство
}
.bar {
	background-color: #d1dbe8;
	height: 4px;
	width: 88px;
	border-radius: 2px;
	flex-shrink: 0;
	position: relative;
}
.barInner {
	height: 4px;
	border-radius: 2px;
	background-color: rgb(213 7 7);
}
.left {
	flex-shrink: 0;
	display: flex;
	align-items: center;
	gap: 12px;
}
.isReport {
	width: 24px;
	height: 24px;
	img {
		width: 16px;
		height: 16px;
	}
}
